FER2013/
RAF/

# Pretrained weights (download from Baidu Netdisk)
*.pth

__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
.eggs/

.ipynb_checkpoints/
.idea/
.vscode/

.DS_Store
Thumbs.db

checkpoints/
checkpoints_fer/
*.pth
!resnet50_msceleb.pth
!resnet18_msceleb.pth
!mixup_rafdb_acc0.8950.pth

_temp_output.pdf
